:root {
    --clr-primary: #333C87;
    --clr-gray: #474555;
    --clr-gray-light: #ABA9BB;
    --clr-green-primary: #238F8F;
    --clr-green-light: #D6F4F3;
    --clr-blue-primary: #000548;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "montserrat", sans-serif;
}

/* Sector menu desplegable */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    background-color: var(--clr-blue-primary);
    display: flex;
    justify-content: space-between;
    z-index: 1000; /* Asegura que el nav est칠 arriba de todo */
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}

.logo-txt {
    font-size: 1.3em;
    padding-left: 0.2em;
    line-height: 75px;
    font-weight: bold;
    color: var(--clr-gray-light);
}
.logo-txt a {
    text-decoration: none;

}

.nav-list {
    position: fixed;
    top: 75px;
    right: 0;
    height: calc(100vh - 75px);
    width: 100%;
    background: var(--clr-blue-primary);
    float: right;
    text-align: center;
    transition: all 0.5s;
}

.nav-list li {
    opacity: 0;
    line-height: 30px;
    margin: 50px 0;
    transition: all 0.5s;
}

.nav-list li a {
    color: var(--clr-gray-light);
    font-size: 1em;
    text-transform: uppercase;
}

.nav-list li a.active, .nav-list li a:hover {
    font-weight: bold;
    color: var(--clr-green-primary);
    transition: 0.5s;
}

#menu-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#menu-abrir, #menu-cerrar {
    display: block;
    color: var(--clr-green-primary);
    font-size: 30px;
    line-height: 75px;
    margin-right: 0.5em;
    width: 30%;
    background-color: #000548;
}

#menu-cerrar {
    display: none;
}

#menu-check {
    display: none;
}

#menu-check:checked ~ label #menu-abrir {
    display: none;
}

#menu-check:checked ~ label #menu-cerrar {
    display: block;
}

#menu-check:checked ~ .nav-list {
    height: 100vh;
}

#menu-check:checked ~ .nav-list li {
    opacity: 1;
}

/* Sector banner */
.parallax-completo {
    width: 100%;
    height: 100vh;
    background-image: url(./images/bannerPrincipal.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(171, 169, 187, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-content {
    display: inline;
    padding: 18px;
    width: 320px;
    text-align: center;
    color: var(--clr-blue-primary);
}

.parallax-content h1 {
    font-size: 3.5em;
    font-weight: bolder;
}

.parallax-content p {
    font-weight: bold;
}
.style-h2-all {
    display: flex;
    padding: 1.8em 0em 0em;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.style-h2-all h2 {
    color: var(--clr-blue-primary);
    text-transform: uppercase;
    font-size: 1.5em;
}
/* Sector Cursos m치s destacados */
.container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    grid-gap: 2rem;
    margin: 2rem;
}

.container-cards h2 {
    font-weight: bold;
    color: var(--clr-gray);
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    cursor: default;
    transition: all 400ms ease;
	background: var(--clr-gray-light);
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card figure {
    padding: 30px;
}

.card img {
    width: 100%;
    height: 210px;
}

.card .contenido {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card .contenido p {
    flex-grow: 1;
}

.card .contenido h3 {
    color: var(--clr-blue-primary);
    font-weight: 300;
    margin-bottom: 15px;
}

.card .contenido a {
    margin-top: auto;
    background-color: var(--clr-green-primary);
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.card .contenido a:hover {
	background: var(--clr-blue-primary);
	color: var(--clr-gray-light);
}

.container-profile {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}

.container-profile:hover {
    z-index: -1; /* Brings the whole card above others on hover */
}

.banner-img-profile {
    position: absolute;
    background-image: url(./images/dimitri-iakymuk-mCR10j_B6sM-unsplash.jpg);
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-profile {
    width: 14rem;
    clip-path: circle(60px at center);
    margin-top: 4.5rem;
    align-self: center;
}

.name-profile {
    font-size: 1.5rem;
}

.description-profile {
    margin: 1rem 2rem auto;
    font-size: 0.9rem;
}

.btn-profile {
    margin-top: auto;
    color: #fff;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--clr-gray);
    padding: 1rem;
}
.button-border {
  padding-right: 15px;
  
}
/* Sector Comentarios */
.wrapper-grid-profile {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
    grid-gap: 2rem;
    margin: 2rem;
}

.container-profile {
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    text-align: center;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.description-profile {
    height: 100%;
    margin: 10px;
}

.container-profile .contenido-profile .description-profile {
    flex-grow: 1;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: rgb(5, 0, 19);
    height: max-content;
}

.formulario>section,
.contacto,
table,
.adicionales,
.formulario>form {
    border: solid;
    padding: 14px;
    margin: 0.5rem;
    background-color: bisque;
    border-radius: 25px;
    max-width: 80%;
}

.adicionales {
    width: 70%;
}

dt::after {
    content: ": ";
}

.formulario>section:hover {
    transition: all 0.8s ease;
    transform: rotateX(360deg);
}

table {
    width: 500px;
    text-align: left;
}

section,
h2 {
    border: 0;
}

caption>h2,
caption>p {
    color: rgb(255, 244, 230);
}

section h3 {
    font-style: italic;
}

section h3::before {
    content: "游눹";
}

section p {
    margin-left: 2rem;
}

li {
    margin-left: 60px;
    padding: 0.2rem;
}


.footer{
	text-transform: capitalize;
	background-color: var(--clr-blue-primary);
	padding: 80px 0px 15px;
}

.footer-row {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}
.footer-links {
	width: 100%;
	
	margin-bottom: 30px;
	text-align: left;
    padding: 0px 0px 0px 60px;
}
.footer-links h4 {
	font-size: 1.5em;
	color: var(--clr-gray-light);
	margin-bottom: 25px;
	font-weight: 500;
	border-bottom: 2px solid var(--clr-green-primary);
	padding-bottom: 10px;
	display: flex;
    justify-content: left;

}
.footer-links ul li a, .footer-row p{
	font-size: 0.9em;
	text-decoration: none;
	color: var(--clr-gray-light);
	display: block;
	margin-bottom: 15px;
	transition: all .3s ease;
}
.footer-links ul li a:hover{
	color: var(--clr-green-light);
	padding-left: 6px;
}
.social-link {
    padding: 0px 0px 0px 60px;
    
}
.social-link a {
	display: inline-block;
	min-height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: var(--clr-green-light);
	transition: all .5s ease;
}
.social-link a:hover {
	background: var(--clr-green-primary);
}
.tooltip {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.tooltip .tooltip-text {
    visibility: hidden;
    background-color: var(--clr-gray);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%; /* Cambia la posici칩n a 'top' para que el tooltip aparezca debajo */
    left: 50%;
    transform: translateX(-50%); /* Centra horizontalmente el tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 0.8;
}
/*P치gina faq*/
.container-questions h2{
    margin-bottom: 15px; 
}
.faq {
            margin-bottom: 20px;
            padding: 0em 2em;
        }
        .faq-question {
            cursor: pointer;
            padding: 20px;
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            margin: 5px 0;
            font-weight: bold;
            color: var(--clr-blue-primary);
            font-size: 1.2em;
        }
        .faq-answer {
            display: none;
            padding: 20px;
            background-color: #fff;
            border: 2px solid var(--clr-blue-primary);
            border-top: none;
            font-size: 1em;
        }
/* P치g. historia*/
.containerH {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem;
  }
  .cardH {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }
  
  .cardH-image {
    
    height: 200px; /* Altura fija para la imagen en m칩vil */
    object-fit: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .cardH-image img {
    border-radius: 10px;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
  }
  .cardH-content {
    padding: 20px 0 0;
    flex: 1;
  }
  
  .cardH-content h2 {
    margin-top: 0;
    margin-bottom: 2px;
    color: var(--clr-blue-primary);
    font-size: 1.3em;
  }

  .cardH-content p {
    font-size: 1em;
    margin-bottom: 5px;
  }

/*P치g contacto*/
.formulario h2{
    color:white;
    margin-bottom: 15px;
}
    
.polaroid {
    align-self: center;

   
    padding:10px 10px 40px 10px;
    background: #fff;
    box-shadow: 0px 0px 5px #000;
}
.carrusel img:hover {
    transform: rotate(10deg);
}

.carrusel {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    width: 100%;
    background-color: rgba(5, 0, 19);
    
}
.carrusel img {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    height: 200px;
    padding: 10px;
    max-width: 100%;
    padding: 10px;
}
.RotarIzq {
    transform: rotate(-5deg);
}
.RotarDer {
    transform: rotate(5deg);
}

/*Cambiando nav*/


/* Media query for tablets */
@media screen and (min-width: 768px) {
	.logo-container {
		margin-left: 0px;

	}
	.logo-txt {
		width: 8em;
		line-height: 36px;
	}
	
	nav {
		height: 76px;
		/*background-color: transparent;*/
		background-color: var(--clr-gray);

	}
	#menu-toggle{
		display: none;
	}
	.nav-list {
		position: fixed;
		display: contents;
        height: 0;
        background: none;
        background-color: var(--clr-gray);
        
	}
	.nav-list li {
		opacity: 1;
		line-height: 75px;
		margin: 0 20px;
		transition: none;
		display: contents;
	}
	.nav-list li a {
		font-size: 0.9em;
		font-weight: bolder;
	}

	.nav-list li a.active, .nav-list li a:hover {
		color: var(--clr-green-primary);
	}

	.parallax-content {
		width: 60%;
	}
	.parallax-content h1 {
		font-size: 5.0em;
	}
	.parallax-content p {
		font-size: 2em;
	}

	.container-cards {
		grid-template-columns: repeat(2, 1fr);
	}

	.wrapper-grid-profile{
		grid-template-columns: repeat(2, 1fr);
	}

    .footer{
        background-color: var(--clr-gray);
    }
	
    .social-link {
        padding: 0px 0px 0px 60px;
    }
    .tooltip .tooltip-text {
        background-color: var(--clr-blue-primary);
    }
    .tooltip:hover .tooltip-text {
        opacity: 0.5;
    }
    .containerH {
        flex-wrap: wrap;
        justify-content: center;
      }
    
      .cardH {
        flex-direction: row;
        max-height: 400px;
        display: flex;
        align-items: center;
      }
    
      .cardH-image {
        height: 300px;
         
        max-width: 250px; /* Ancho m치ximo para la imagen en desktop */
        padding: 5px;
      }
    
      .cardH-image img {
        border-radius: 10px 0 0 10px;

      }
    
      .cardH-content {
        display: flex;
        padding: 20px;
        flex-direction: column;
      }
      .faq {
        padding: 0px 80px;
      }
    }

    /* Media query for desktops */
    @media screen and (min-width: 1024px) {
		.logo-container {
			margin-left: 25px;
	
		}
		.logo-txt {
			width: 8em;
			font-size: 1.4em;
			line-height: 36px;
		}
		
		nav {
			/*background-color: transparent;*/
			background-color: var(--clr-gray);
			padding: 0px 0px;
		}
		#menu-toggle{
			display: none;
		}
		.nav-list {
			position: fixed;
			height: 100px;
			
			top: 0;
			background: none;
			float: right;
			text-align: right;
			margin-right: 25px;
			transition: none;
		}
		.nav-list li {
			display: inline-block;
			opacity: 1;
			line-height: 75px;
			margin: 0 20px;
			transition: none;
		}
		.nav-list li a.active, .nav-list li a:hover {
			color: var(--clr-green-primary);
		}
        .nav-list li i{
            font-size: 1.2em;
            margin-right: 10px;
            vertical-align: middle;
        }

        .parallax-content {
            width: 90%; /* Ajustar el ancho del contenido del parallax */
        }
		.card figure {
			padding: 0px;
		}
		.container-cards {
			grid-template-columns: repeat(4, 1fr);
		}

		.wrapper-grid-profile{
			grid-template-columns: repeat(4, 1fr);
		}
        .footer{
            background-color: var(--clr-gray);
        }
		.footer-row {
			padding: 0px 60px;
			justify-content: space-evenly;
		}
		.footer-links {
			width: 25%;
            padding: 0px;
		}
        .social-link{
            padding: 0px;
        }
        .cardH-content h2 {
            font-size: 1.5em;
          }
        
          .cardH-content p {
            font-size: 1.3em;
          }

    }

@media screen and (max-width: 768px) {
    

    .nav-list {
        height: 0;
        width: 34%;
        border-left: #ABA9BB 4px solid;
    }


    #tablaDatos {
        width: 100%;
        border-collapse: collapse;
    }

    #tablaDatos, #tablaDatos th, #tablaDatos td {
        border: 1px solid black;
    }

    #tablaDatos th, #tablaDatos td {
        padding: 10px;
        text-align: center;
    }
    #tablaDatos th {
        background-color: #f2f2f2;
        color: black;
    }

    .carrusel {
        justify-content: center;
        display: grid;
    }

    .carrusel img {
        height: auto;
        width: 90%;
        max-width: 300px;
    }


}
